doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title page
    link(rel='stylesheet', href='css/style.css')
  body
    .wrapper
      header
        h1(data-heading-level='1')
          | Wythoff Array
      main
        pre.wythoff-array

    script(src='js/lib/jquery.min.js')
    script(src='js/lib/lodash.min.js')
    script(src='js/main.js')